
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

.navbar-laravel {
  background-color: $orange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-dark .navbar-nav .nav-link {
	color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255,255,255,0.8) !important;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	padding: 10px;
	background-color: $orange;
	width: 100%;
	text-align: center;
	color: white;
}

.letra {
	width: 75px;
	height: 75px;
	cursor: pointer;
    border-radius: 15px;
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
	margin-bottom: 10px;
}

.letra span {
    line-height: 75px;
    color: white;
}

.letra-video {
	color: #FF6347;
	font-size: 125px;
	font-family: 'Comic Sans MS'
}

.letra-video-cursiva {
	font-family: 'mamaequenosfaz';
	font-weight: bold;
}

.opcao {
	cursor: pointer;
}

.opcao:hover {
	background-color: #F0F0F0;
}

.label-opcao {
	font-size: 25px;
}

.btn-black {
	@include button-variant(black, white, #555555);
}

.btn-pink {
	@include button-variant(deeppink, white, hotpink);
}
.btn-blue {
	@include button-variant(#435FEC, white, #8190E0);
}
.btn-rose {
	@include button-variant(#F314A4, white, #F5A5D9);
}
.btn-roxo {
	@include button-variant(#751654, white, #CA69A8);
}
.btn-verde {
	@include button-variant(#10BC10, white, #86ED86);
}
.btn-cinza {
	@include button-variant(#9CA8A5, white, #D9DEDC);
}
.btn-cinza-claro {
	@include button-variant(#D9DEDC, white, #EFEFEF);
}
.btn-tomato {
	@include button-variant(#FF6347, white, #FFA07A);
}
.btn-oceano {
	@include button-variant(#00FFFF, white, #40E0D0);
}
.btn-resposta {
	@include button-variant(#ffe856, #dddddd, #10BC10, white, #10BC10, white);
}

.btn-xlg {
    padding: 0.5rem 1rem;
    font-size: 1.333rem;
    line-height: 1.8;
    border-radius: 0.3rem;
}

video {
	width: 100%;
}