
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $orange;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	padding: 10px;
	background-color: $orange;
	width: 100%;
	text-align: center;
	color: white;
}

.letra {
	width: 75px;
	height: 75px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 45px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
	margin-bottom: 10px;
}

.letra span {
    line-height: 75px;
}